header{
    background-color:#1F2937;
    
   
}
.block{
    

    display: block;
  width: 100%;
  border: none;
  background-color: #3882F6 ;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;

}
.NYC{
    font-size:48px;
    position:absolute; 
    top:1px; 
    right:500px;
    
}

.tour{
    font-size:16px;
    position:absolute; 
    top:90px; 
    right:625px;
    
}

.pic{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    

   

    
} 
.corners{
    border-radius: 25px;
    border:5px solid #3882F6;
}
.words{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    gap: -6px;
    font-size: 12px;
    top: 500px;
    right: 300px;

 
}

body{
    background-color: gray;

}

    

.box{
    font-size:36px;
    font-style: italic; 
    background-color: gray;
    text-align: center;
   
}
footer{
    background-color: white;
}
.box2{
    background-color: #3882F6;
    font-size: 18px;
    text-align: center;
}


